/*
    Phần CSS của External
h1 {
    color: red;
    font-size: 20px;
} */

/* Thuộc phần ID - Class */
#first {
    color: red;
}

.second {
    color: green;
    font-size: 40px;
}

/* Dùng ID thì sử dụng dấu #
   Dùng chung 1 Class thì sử dụng dấu .
*/